
@media only screen and (max-width: 800px) {
  /* Force table to not be like tables anymore */
  .act-table-responsive table,
  .act-table-responsive thead,
  .act-table-responsive tbody,
  .act-table-responsive th,
  .act-table-responsive td,
  .act-table-responsive tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .act-table-responsive thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .act-table-responsive tr { border: 1px solid #ccc; }

  .act-table-responsive td {
    /* Behave like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align:left;
  }

  .act-table-responsive td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }
  /*
  Label the data
  */
  .act-table-responsive td:before { content: attr(data-title); }

}
